<div class= "span4"></div>
<div class= "span4" id= "edit_login_user_page">
  <a href = "<%=user_omniauth_authorize_path(:facebook)%>" id= "facebook-signin"> 
          <div class = "facebook_login">
            Sign Up using Facebook
          </div>
        </a>
        <h2>OR</h2>
<legen>Sign up with Email</legen>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.label :name %><br />
  <%= f.text_field :name, required: true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, required: true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, required: true %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, required: true %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>