<a href= "<%=bike_path(@bike)%>/">
                 <table>
                    <tr>
                      <td><% if !@bike.pictures.nil?%>
                        <%= image_tag @bike.pictures.first.file.url(:thumb)%>
                        <%else%>
                         <%=image_tag "default_image.jpg"%>
                        <%end%>
                      </td>
                      <td><%= @bike.year %>  <%= @bike.make %>  <%= @bike.model %>  <%= @bike.variant if !@bike.variant.nil? %>
                      </td>
                    </tr>
                 </table>
               </a>