

<div class="span12">
<div class = "well">
	Profile info here
</div>
    <div class="row">
    <div class="span3">
    
         
          <div class="saved_bikes">
            <ul class="nav nav-list">
                <legend>Saved Bikes</legend>
                <%@favourites.each do |fav_bike|%>
                 <li>
                 <%bike=Bike.find(fav_bike.bike_id)%>
                 <a href= "<%=bike_path(bike)%>">
                 <table>
                    <tr>
                      <td><%= image_tag bike.pictures.last.file.url(:thumb)%>
                      </td>
                      <td><%= bike.year %>  <%= bike.make %>  <%= bike.model %>  <%= bike.variant if !bike.variant.nil? %>
                      </td>
                    </tr>
                 </table>
               </a>
               </li>
                <%end%>
              </div><!--/.well -->
        </div><!--/span-->

<div class="span9">    
<div class = "bikes">
	Your Ads
	<div class = "results">
<%=render "bikes/search_bikes"%>
<%= will_paginate @bikees %>
</div>
</div>
</div>
</div>