

<div class="span12">
<div class = "profile_info">
  <div class = "legen">Your Details<%=link_to "Edit", edit_user_registration_path(@user), class: "btn btn-primary"%></div>
  <div class = "row">
  <div class = "span6">Name: <%= @user.name%></div>

  <div class = "span6">Email: <%= @user.email%></div>
</div>
</div>
 <div class="row">
<%if params[:saved_bikes]=="true" %>

    <div class="span3">
     <div class="saved_bikes">
            <ul class="nav nav-list">
            <div class = "legen">
              Your Listings

            </div>
            <%@listings.each do |bike|%>
            <%@bike= bike%>
              <%=render "side_bar"%>
            <%end%>
            
            </ul>
            <div class = "profile_see_all"><%= link_to "See all", profile_user_path()%></div>
              </div><!--/.well -->
        </div><!--/span-->

      <div class="span9">    
      <div class = "bikes">
      	
      	<div class = "results">
            <div class = "legen">Saved Bikes</div>
          
            <%=render "bikes/search_bikes"%>
          </div>
      </div>
      </div>
<%else %>
      <!----------------ksksksksksk-->

    

      <div class="span9">    
      <div class = "bikes">
        
        <div class = "results">
           <div class = "legen">Your Listings</div>
          <%=render "bikes/search_bikes"%>
          </div>
      </div>
      </div>
      <div class="span3">
    
         
          <div class="saved_bikes">
            <ul class="nav nav-list">
              <div class = "legen">Saved Bikes</div><%= link_to "See all", profile_user_path(saved_bikes: "true")%>
              <%@favourites.each do |fav_bike|%>
                <li>
                  
                  <%if !Bike.unscoped.find(fav_bike.bike_id).expired?%>
                    <%@bike=Bike.find(fav_bike.bike_id)%>
                    <%=render "side_bar"%>
                  <%end%>
                </li>
              <%end%>
            </ul>
              </div><!--/.well -->
        </div><!--/span-->
      <!----------------ksksksksksk-->
 <%end%>     
</div>