<div id= "bike_specs">
<ul><li><a id= "basic">Basic Info</a></li></ul>
<table class = "table table-striped" id= "basic"><tr>
		<td>Bike:</td> 
        <td><%=@bike_spec.model%></td>
        </tr>
        <tr>

        <td>Make:</td> 
          <td><%=@bike_spec.make%></td>
        </tr>
      
        <tr>

        <td>Price:</td> 
          <td><%=@bike_spec.price%></td>
        </tr>
        <tr>

        <td>Variant:</td> 
          <td><%=@bike_spec.variant%></td>
        </tr>
        <tr>

        <td>Year:</td> 
          <td><%=@bike_spec.year%></td>
        </tr>
        <tr>

          <td>:top_speed </td>
		    <td><%= @bike_spec.top_speed %> kmph
		 </td>
		        </tr>
		        <tr>
		  <td>:fuel_consumption_city  </td>
		    <td><%= @bike_spec.fuel_consumption_city  %> kmpl 
		 </td>
		        </tr>
		        <tr>
		  <td>:fuel_consumption_highway</td>
		    <td><%= @bike_spec.fuel_consumption_highway   %> kmpl
		 </td>
		        </tr>
		        <tr>
		  <td>:displacement</td>
		    <td><%= @bike_spec.displacement   %> cc
		 </td>
		        </tr>
		        <tr>
		  <td>:engine  </td>
		    <td><%= @bike_spec.engine   %>
		 </td>
		        </tr>
		        <tr>
		  <td>:max_power  </td>
		    <td><%= @bike_spec.max_power  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:max_torque  </td>
		    <td><%= @bike_spec.max_torque  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:transmission  </td>
		    <td><%= @bike_spec.transmission   %>
		 </td>
		        </tr>
		        <tr>
		  <td>:clutch  </td>
		    <td><%= @bike_spec.clutch  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:bore  </td>
		    <td><%= @bike_spec.bore   %>
		 </td>
		        </tr>
		        <tr>
		  <td>:stroke  </td>
		    <td><%= @bike_spec.stroke   %>
		 </td>
		        </tr>
		        <tr>
		  <td>:no_of_cylinders  </td>
		    <td><%= @bike_spec.no_of_cylinders  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:valve_per_cylinder  </td>
		    <td><%= @bike_spec.valve_per_cylinder  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:chassis_type  </td>
		    <td><%= @bike_spec.chassis_type   %>
		 </td>
		        </tr>
		        <tr>
		  <td>:cooling_type </td>
		    <td><%= @bike_spec.cooling_type   %> 
		 </td>
		        </tr>
		        </table>
		        <ul><li><a id= "dimensions">DIMENSIONS</a></li></ul>
		        <table id = "dimensions">

		        <tr>
		  
		  <td>:length  </td>
		    <td><%= @bike_spec.length  %> mm
		 </td>
		        </tr>
		        <tr>
		  <td>:width  </td>
		    <td><%= @bike_spec.width  %> mm
		 </td>
		        </tr>
		        <tr>
		  <td>:height </td>
		    <td><%= @bike_spec.height  %> mm
		</td>
		        </tr>
		        </table>
		        <ul><li><a id= "other_specs">OTHER SPECIFICATIONS</a></li></ul>
		        <table id = "other_specs">

		
		        <tr>
			 <td>:weight  </td>
		    <td><%= @bike_spec.weight  %> kg
		 </td>
		        </tr>
		        <tr>
		  <td>:ground_clearance  </td>
		    <td><%= @bike_spec.ground_clearance  %> mm
		 </td>
		        </tr>
		        <tr>
		  <td>:fuel_tank </td>
		    <td><%= @bike_spec.fuel_tank  %> ltrs
		 </td>
		        </tr>
		        <tr>
		  <td>:wheelbase </td>
		    <td><%= @bike_spec.wheelbase  %> mm
		 </td>
		        </tr>
		        <tr>
		  <td>:headlamp </td>
		    <td><%= @bike_spec.headlamp  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:battery_type</td>
		    <td><%= @bike_spec.battery_type  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:battery_voltage</td>
		    <td><%= @bike_spec.battery_voltage  %> V
		 </td>
		        </tr>
		        <tr>
		  <td>:battery_capacity </td>
		    <td><%= @bike_spec.battery_capacity  %> Ah
		 </td>
		        </tr>
		        <tr>
		  <td>:wheel_type </td>
		    <td><%= @bike_spec.wheel_type  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:wheel_size </td>
		    <td><%= @bike_spec.wheel_size  %>

		 </td>
		        </tr>
		        <tr>
		  <td>:tyre_type  </td>
		    <td><%= @bike_spec.tyre_type  %>
		</td>
		</tr>
		</table>
		        <ul><li><a id= "safety">ACTIVE AND PASSIVE SAFETY</a></li></ul>
		        <table id = "safety"> 



		 <tr>

		  <td>:suspension_front</td>
		    <td><%= @bike_spec.suspension_front  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:suspension_rear</td>
		    <td><%= @bike_spec.suspension_rear  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:brakes_front</td>
		    <td><%= @bike_spec.brakes_front  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:brakes_rear </td>
		    <td><%= @bike_spec.brakes_rear  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:stand_alarm </td>
		    <td><%= @bike_spec.stand_alarm  %>
		</td>
		</tr>
		</table>
		        <ul><li><a id= "comfort">COMFORT AND CONVENIENCE</a></li></ul>
		        <table id = "comfort"> 



		   <tr>

		  <td>:fuel_gauge </td>
		    <td><%= @bike_spec.fuel_gauge  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:ignition </td>
		    <td><%= @bike_spec.ignition  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:tacho_meter </td>
		    <td><%= @bike_spec.tacho_meter  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:trip_meter </td>
		    <td><%= @bike_spec.trip_meter  %>
		 </td>
		        </tr>
		        <tr>
		  <td>:speedometer</td>
		    <td><%= @bike_spec.speedometer  %>
		 </td>
		        </tr>
		    </table>
</div>
<script type="text/javascript">
$("document").ready(function() {
  $('table#basic').hide();
  $('table#dimensions').hide();
  $('table#safety').hide();
  $('table#other_specs').hide();
  $('table#comfort').hide();
});
$('a#basic').click(function(){

  $('table#basic').toggle();
  
  
});
$('a#dimensions').click(function(){
$('table#dimensions').toggle();
});
$('a#safety').click(function(){
  $('table#safety').toggle();
 });
$('a#other_specs').click(function(){
  $('table#other_specs').toggle();
});
$('a#comfort').click(function(){
  $('table#comfort').toggle();
})
</script>
