<div class = "results_main_page">

 
<table class="table">
  <thead>
    <tr>
      
      <form>
  <%=form_tag(search_bikes_path, :method => "put") do %>

    <legend>Search Bikes</legend>
    <div class = "row">
    	<div class= "span6">
  				<%= select_tag "make", options_for_select(@makes), :prompt => "Any Make", :class=>"input-drop-down" %>

			<%= text_field_tag :price_from, nil, :placeholder =>"Price From" ,:class=>"input-large" %>
			<%= select_tag :location, options_for_select(["Any Cities","Kathmandu", "Latitpur", "Bhaktapur"]),:class=>"input-drop-down" %>
		</div>
		<div class= "span6">
  		<%= select_tag "model", options_for_select(@models), :prompt => "Any Model", :class=>"input-drop-down" %>
		

			<%= text_field_tag :price_to, nil, :placeholder =>"Price To" ,:class=>"input-large" %>
			<%= select_tag :type, options_for_select(['Any Type',"Dealer New", "Dealer Used", "Private Seller"]),:class=>"input-drop-down" %>
		</div>
    	
    </div>
    
      

  <input class="btn btn-primary" name="commit" type="submit" formaction="<%= search_bikes_path%>" value="Search" >
<% end %>

  
</form>
      
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
</div><!--div results -->
