<!--Indentation Complete-->
<div class = "results_main_page">
  <div class= "results_main_page_sub">
    <h2><a href= "<%=showroom_bike_specs_path %>">Bike Showroom</a></h2>
    <table class= "new_bike_make_table">
     	<tr>
    		<td>
          <ul>
    			  <li><%=link_to "Hero", bike_specs_path(make: "Hero")%></li>
    		    <li><%=link_to "Bajaj", bike_specs_path(make: "Bajaj")%></li>
    		    <li><%=link_to "TVS", bike_specs_path(make: "TVS")%></li>
    		  </ul>
        </td>
    		<td>
          <ul>
    		    <li><%=link_to "Yamaha", bike_specs_path(make: "Yamaha")%></li>
    		    <li><%=link_to "Suzuki", bike_specs_path(make: "Suzuki")%></li>
    		    <li><%=link_to "Honda", bike_specs_path(make: "Honda")%></li>
    		  </ul>
        </td>
    	</tr>	
    </table>
  </div>  
  <div class = "sell_your_bike">
    <h2>Sell your Bike</h2>
    <div class="sell-call-to-action">
      <a href="/bikes/new/" class="create-ad">Create Ad</a>
    </div>
    <% if user_signed_in?%>
      <a href="<%=profile_user_path(current_user)%>" class="manage-ad">Manage your Ad</a>
    <%else%>
      <a href="<%=new_user_session_path%>" class="manage-ad">Manage your Ad</a>
    <%end%>
  </div>
</div>