<!--Indentation Complete-->
<div class="search_bike_table">
  <% @bikees.each do |bike| %>
    <div class= "search_result_div">
      <a href="<%= bike_path(bike, sort: params[:sort], :direction => params[:direction], body: params[:body], make: params[:make], model: params[:model], color: params[:color],type: params[:type] ) %>" title ="Bike Sales <%=bike.year.to_s+" "+bike.make+" "+bike.model%>">
        <div class="row">
          <div class= "span5"> 
            <% if bike.pictures.empty?%>
            <%=image_tag "default_image.jpg"%>
            <%else%>
            <%= image_tag bike.pictures.last.file.url(:original), alt: bike.year.to_s+" "+bike.make+" "+bike.model+" "+bike.variant, title: bike.year.to_s+" "+bike.make+" "+bike.model+" "+bike.variant, id: "bike_picture" %>
            <%end%>
          </div> <!-- span5 Image of the searched bike --> 
          <div class= "span7">
            <div class= "result_table">
              <div class = "result_header">
                <div class= "listing_title">
                  <%= bike.year %>  <%= bike.make %>  <%= bike.model %>  <%= bike.variant if !bike.variant.nil? %>
                </div>
                <div class= "legen"><%= number_to_currency(bike.price,:unit => "Rs ",:precision => 0) %>
                </div>
              </div>
              <div class = "result_specs">
                <ul>
                  <li>
                    Body: <%= bike.body %>  
                  </li>
                  <li>
                    Odometer: <%= bike.odometer %> km
                  </li>
                  <li>
                    Location: <%= bike.location %>
                  </li>
                </ul> 
              </div>    
              <div class= "view_bike_link">
                <div  class = 'btn btn-inverse'> View bike 
                </div>
              </div>
              <%if bike.comment.nil?%>
                <div class = "comment">
                  &ldquo; <%= bike.comment%> &rdquo;
                </div>
              <%end%>
            </div>  
          </div> <!-- span7 Summary of the searched bike --> 
        </div>
      </a>
    </div>
  <% end %>
</div>