<!--Indentation Complete-->
<%div = params[:page].to_i%>
<div class="span12">
  <div class="row">
    <div class="span3">
      <%= render "current_selection"%>   
        <div class="sidebar-nav">
          <ul class="nav nav-list" id = "selection">
            <li class= "refine_search"><div class = "legen">Refine Search</div></li>
            <li><div class="icon-chevron-right"><a></a></div><div class="icon-chevron-up"><a></a></div>Type
              <ul class = "type">
                <% @types.each do |type| %>
                  <li> <%= link_to type + " ("+@bikes.where(type: type).count.to_s+")", bikes_path(sort: params[:sort], :direction => params[:direction], body: params[:body], make: params[:make], location: params[:location],model: params[:model], color: params[:color], type: type, price_from: params[:price_from], price_to: params[:price_to]  )%> 
                  </li>
                <% end %>
              </ul>
            </li>
            <li><div class="icon-chevron-right"><a></a></div><div class="icon-chevron-up"><a></a></div>Body
                <ul>
                    <% @bodies.each do |body| %>
                        <li>
                            <%= link_to body, bikes_path(sort: params[:sort], :direction => params[:direction], body: body, make: params[:make], color: params[:color],type: params[:type], location: params[:location],model: params[:model], price_from: params[:price_from], price_to: params[:price_to] )%> (<%=@bikes.where(body: body).count%>)
                        </li>  
                    <% end %>
                </ul>
            </li>
            <li><div class="icon-chevron-right"><a></a></div><div class="icon-chevron-up"><a></a></div>Make
                <ul>
                    <% @makes.each do |make| %>
                        <li>
                            <%= link_to make, bikes_path(sort: params[:sort], :direction => params[:direction], body: params[:body], model: params[:model], color: params[:color],location: params[:location],type: params[:type],make: make, price_from: params[:price_from], price_to: params[:price_to] )%> (<%=@bikes.where(make: make).count%>)
                        </li>
                    <% end %>
                </ul>
            </li>
            <li><div class="icon-chevron-right"><a></a></div><div class="icon-chevron-up"><a></a></div>Models
                <ul>
                    <% @models.each do |model| %>
                        <li>
                            <%= link_to model, bikes_path(sort: params[:sort], :direction => params[:direction], location: params[:location],body: params[:body], make: params[:make], color: params[:color],type: params[:type],model: model, price_from: params[:price_from], price_to: params[:price_to] )%> (<%=@bikes.where(model: model).count%>)
                        </li>  
                    <% end %>
                </ul>
            </li>
            <li><div class="icon-chevron-right"><a></a></div><div class="icon-chevron-up"><a></a></div>Colour
                <ul>  
                    <% @colors.each do |color| %>
                        <li>
                            <%= link_to color, bikes_path(sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: color,location: params[:location], price_from: params[:price_from], price_to: params[:price_to]  )%> (<%=@bikes.where(color: color).count%>)
                            
                        </li>
                    <% end %>
                </ul>
            </li>
            <li><div class="icon-chevron-right"><a></a></div><div class="icon-chevron-up"><a></a></div>Location
                <ul>  
                    <% @location.each do |location| %>
                        <li>
                            <%= link_to location, bikes_path(sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: location, price_from: params[:price_from], price_to: params[:price_to]  )%> (<%=@bikes.where(location: location).count%>)
                            
                        </li>
                    <% end %>
                </ul>
            </li>
            
            <li><div class="icon-chevron-right"><a></a></div><div class="icon-chevron-up"><a></a></div>Price
                <ul>
                  <li><%= link_to "Up to Rs. 10,000",bikes_path(price_from: "0", price_to: "10001", sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location])%></li>
                  <li><%= link_to "Rs. 10,000 to Rs. 25,000",bikes_path(price_from: "9999", price_to: "25001", sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location])%></li>
                  <li><%= link_to "Rs. 25,000 to Rs. 50,000",bikes_path(price_from: "24999", price_to: "50001", sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location])%></li            >
                  <li><%= link_to "Rs. 50,000 to Rs. 75,000",bikes_path(price_from: "49999", price_to: "75001", sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location])%></li>
                  <li><%= link_to "Rs. 75,000 to Rs. 1,00,000",bikes_path(price_from: "74999", price_to: "100001", sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location])%></li>
                  <li><%= link_to "Rs. 1,00,000 to Rs. 1,50,000",bikes_path(price_from: "99999", price_to: "150001", sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location])%></li>
                  <li><%= link_to "Rs. 1,50,000 to Rs. 2,00,000",bikes_path(price_from: "149999", price_to: "200001", sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location])%></li>
                  <li><%= link_to "Rs. 2,00,000 to Rs. 3,00,000",bikes_path(price_from: "199999", price_to: "300001", sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location])%></li>
                  <li><%= link_to "Rs. 3,00,000 to Rs. 4,00,000",bikes_path(price_from: "299999", price_to: "400001", sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location])%></li>
                  <li><%= link_to "Rs. 4,00,000 to Rs. 5,00,000",bikes_path(price_from: "399999", price_to: "500001", sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location])%></li>
                  <li><%= link_to "Rs. 5,00,000 to Rs. 10,00,000",bikes_path(price_from: "499999", price_to: "1000001", sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location])%></li>
                  <li><%= link_to "More than Rs. 10,00,000",bikes_path(price_from: "999999", price_to: nil, sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location])%></li>
                </ul>
            </li>
          </ul>
        </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">    
      <div class = "bikes">
        <div class = "header">
          <%= pluralize(@bikes.count, 'Match')%>
          <select class="sort_select">
            <option value= "1">Sort By: Latest</option>
             <option value= "6">Sort By: Popularity(Most viewed)</option>
            <option value= "2">Sort By: Price (High to Low)</option>
            <option value = "3">Sort By: Price (Low to High)</option>
            <option value= "4">Sort By: Year (High to Low)</option>
            <option value = "5">Sort By: Year (Low to High)</option>
          </select>
        </div>
        <div class = "bikes_sort">
          <div class = "results">
            <div class = "scroll">
              <%=render "search_bikes"%>
            </div>
            <div class = "1"></div>
            <% (2..@bikees.total_pages).each do |i|%> <!-- Creating empty div with respect to page number-->
              <div class = "<%= i%>"></div>
            <%end%>
            <%if @bikes.count >10%>
                         
                         
                        <div class = "loading btn">
                            <%= image_tag 'loader.gif', size: "16x16"%> 
                            <a id= "next">Show More</a>
                        </div>
                          <%end%>
          </div><!--div bike sort-->
        </div><!--div results -->
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "jquery.min" %>
<script type="text/javascript">
  var div =1
  var sort= 'latest'
  var direction= null
  var check= false;
    $("a#next").click(function(){
      check = true;
      div=div+1
      <%if(params.has_key?(:type) or params.has_key?(:body) or params.has_key?(:make) or params.has_key?(:model) or params.has_key?(:color) or params.has_key?(:sort) or params.has_key?(:direction) or params.has_key?(:price_to) or params.has_key?(:price_from))%>
        var link= "<%= bikes_path(type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], price_from: params[:price_from], price_to: params[:price_to] )%>"+'&sort='+sort+'&direction='+direction+'&amp;page='+ div.toString()+ ' div.scroll'
      <%else%>
       var link='/bikes?'+'&sort='+sort+'&direction='+direction+'&amp;page='+ div.toString()+ ' div.scroll' 
        
      <%end%>
      
      $("div." +div.toString()).load(link, function() {
        
      });
    })
  $(window).scroll(function() { 
    if(($(window).scrollTop()+ $(window).height()> ($(document).height()*.85) && check==false)||
            ($(window).scrollTop()+ $(window).height()== $(document).height()))
    {
      check = true;
      div=div+1
      <%if(params.has_key?(:type) or params.has_key?(:body) or params.has_key?(:make) or params.has_key?(:model) or params.has_key?(:color) or params.has_key?(:sort) or params.has_key?(:direction) or params.has_key?(:price_to) or params.has_key?(:price_from))%>
        var link= "<%= bikes_path(type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], price_from: params[:price_from], price_to: params[:price_to] )%>"+'&sort='+sort+'&direction='+direction+'&amp;page='+ div.toString()+ ' div.scroll'
      <%else%>
       var link='/bikes?'+'&sort='+sort+'&direction='+direction+'&amp;page='+ div.toString()+ ' div.scroll' 
        
      <%end%>
      
      $("div." +div.toString()).load(link, function() {
        setTimeout(function()
                { 
                    check = false; 
                }, 3000);
      });
      if (div=="<%=@bikees.total_pages%>"){
        $('.loading').hide();
      }
    }
  });
  
  $("select.sort_select").change(function() {

    $("select.sort_select option:selected").each(function () {
      str = $(this).attr("value");
    });
    if (str =="1"){
      $('div.bikes_sort').load('<%= bikes_path(sort: "latest", type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location], price_from: params[:price_from], price_to: params[:price_to]) + " div.results"%>');
      
      sort= 'latest'
      direction= null

      div=1;
      //to undo the page load!!!
    };
    if (str =="2"){
      $('div.bikes_sort').load('<%= bikes_path(sort: "price", :direction => "desc", type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location], price_from: params[:price_from], price_to: params[:price_to] ) + " div.results"%>');
        div=1;
        sort= 'price'
        direction= 'desc'
    //window.location.replace("<%= bikes_path(sort: "price", :direction => "desc", body: params[:body]) %>");
    };
    if (str =="3"){
      $('div.bikes_sort').load('<%= bikes_path(sort: "price", :direction => "asc", type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location], price_from: params[:price_from], price_to: params[:price_to] ) + " div.results"%>');

      sort= 'price'
        direction= 'asc'
      div=1;
    };
    if (str =="4"){
      $('div.bikes_sort').load('<%= bikes_path(sort: "year", :direction => "desc", type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location], price_from: params[:price_from], price_to: params[:price_to] ) + " div.results"%>');
      sort= 'year'
      direction= 'desc'
      div=1;
    };
    if (str =="5"){
      $('div.bikes_sort').load('<%= bikes_path(sort: "year", :direction => "asc", type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location], price_from: params[:price_from], price_to: params[:price_to] ) + " div.results"%>');
      div=1;
      sort= 'year'
      direction= 'asc'
    };    
    if (str =="6"){
      $('div.bikes_sort').load('<%= bikes_path(sort: "popularity", :direction => "desc", type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location], price_from: params[:price_from], price_to: params[:price_to] ) + " div.results"%>');
      div=1;
      sort= 'popularity'
      direction= 'desc'
    };
       
        
      
  });
</script>
