
   <%div = params[:page].to_i%>
  <div class="span12">
    <div class="row">
    <div class="span3">
    
        <%= render "current_selection"%>   
          <div class="well sidebar-nav">
                <ul class="nav nav-list" id = "selection">
                    <li class="nav-header">Sidebar</li>
                    
                    <li><i class="icon-plus-sign"><a></a></i><i class="icon-minus-sign"><a></a></i>Type
                        <ul class = "type">
                            
                            <% @types.each do |type| %>
                                <li> <%= link_to type + " ("+@bikes.where(type: type).count.to_s+")", bikes_path(sort: params[:sort], :direction => params[:direction], body: params[:body], make: params[:make], model: params[:model], color: params[:color], type: type )%> 
                                </li>
                             <% end %>
                        </ul>
                    </li>
                    <li><i class="icon-plus-sign"><a></a></i><i class="icon-minus-sign"><a></a></i>Body
                        <ul>
                            <% @bodies.each do |body| %>
                                <li>
                                    <%= link_to body, bikes_path(sort: params[:sort], :direction => params[:direction], body: body, make: params[:make], color: params[:color],type: params[:type], model: params[:model])%> (<%=@bikes.where(body: body).count%>)
                                </li>  
                            <% end %>
                        </ul>
                    </li>
                    <li><i class="icon-plus-sign"><a></a></i><i class="icon-minus-sign"><a></a></i>Make
                        <ul>
                            <% @makes.each do |make| %>
                                <li>
                                    <%= link_to make, bikes_path(sort: params[:sort], :direction => params[:direction], body: params[:body], model: params[:model], color: params[:color],type: params[:type],make: make)%> (<%=@bikes.where(make: make).count%>)
                                </li>
                            <% end %>
                        </ul>
                    </li>
                    <li><i class="icon-plus-sign"><a></a></i><i class="icon-minus-sign"><a></a></i>Models
                        <ul>
                            <% @models.each do |model| %>
                                <li>
                                    <%= link_to model, bikes_path(sort: params[:sort], :direction => params[:direction], body: params[:body], make: params[:make], color: params[:color],type: params[:type],model: model)%> (<%=@bikes.where(model: model).count%>)
                                </li>  
                            <% end %>
                        </ul>
                    </li>
                    <li><i class="icon-plus-sign"><a></a></i><i class="icon-minus-sign"><a></a></i>Colour
                        <ul>  
                            <% @colors.each do |color| %>
                                <li>
                                    <%= link_to color, bikes_path(sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: color )%> (<%=@bikes.where(color: color).count%>)
                                    
                                </li>
                            <% end %>
                        </ul>
                    </li>
                    <li><i class="icon-plus-sign"><a></a></i><i class="icon-minus-sign"><a></a></i>Location
                        <ul>  
                            <% @location.each do |location| %>
                                <li>
                                    <%= link_to location, bikes_path(sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: location )%> (<%=@bikes.where(address: location).count%>)
                                    
                                </li>
                            <% end %>
                        </ul>
                    </li>
                </ul>
              </div><!--/.well -->
        </div><!--/span-->

<div class="span9">    
    
<div class = "bikes">

<div class = "header">
<%= pluralize(@bikes.count, 'Match')%>
<select class="sort_select">
    <option value= "1">Sort By:</option>
    <option value= "2">Sort By: Price(High to Low)</option>

    <option value = "3">Sort By: Price(Low to High)</option>
  <option><a href= <%= bikes_path(sort: "price", :direction => "desc", body: params[:body]) %>> Price Highest to lowest </a></option>
  <option><a href= <%= bikes_path(sort: "price", :direction => "asc",body: params[:body]) %>>Price Lowest to Highest</a></option>

</select>
</div>
<div class = "bikes_sort">
<div class = "results">
    <div class = "scroll">

    <%=render "search_bikes"%>

</div>
<div class = "1"></div>
<% (2..@bikees.total_pages).each do |i|%> <!-- Creating empty div with respect to page number-->

   <div class = "<%= i%>"></div>
<%end%>


</div><!--div bike sort-->
</div><!--div results -->


</div>

</div>
</div>
<script type="text/javascript">


var div =1
 $(window).scroll(function() { 
 
    if($(window).scrollTop() + $(window).height() == $(document).height()) {
       
        div=div+1
        <%if(params.has_key?(:type) or params.has_key?(:body) or params.has_key?(:make) or params.has_key?(:model) or params.has_key?(:color) or params.has_key?(:sort) or params.has_key?(:direction))%>
        var link= "<%= bikes_path(sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color] )%>"+'&amp;page='+ div.toString()+ ' div.scroll'
        <%else%>
        var link='/bikes?page='+ div.toString()+ ' div.scroll' 
        <%end%>
        $("div." +div.toString()).load(link, function() {
  console.log(link)
 
});

        
    }
});
 $("select.sort_select").change(function() {
    
 
 $("select.sort_select option:selected").each(function () {
            console.log($(this).attr("value"));
            str = $(this).attr("value");
  });
 if (str =="2"){
    $('div.bikes_sort').load('<%= bikes_path(sort: "sort", :direction => "desc", type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location] ) + " div.results"%>');
    

    
    //window.location.replace("<%= bikes_path(sort: "price", :direction => "desc", body: params[:body]) %>");
 };
  if (str =="3"){
    $('div.bikes_sort').load('<%= bikes_path(sort: "price", :direction => "asc", type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color], location: params[:location] ) + " div.results"%>');
    
 };
  });
</script>
<%= javascript_include_tag "bikes/index" %>

