
   <%div = params[:page].to_i%>
  <div class="span12">
    <div class="row">
    <div class="span3">
    
        <%= render "current_selection"%>   
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Sidebar</li>
                <li><a href= <%= bikes_path(sort: "price", :direction => "desc", body: params[:body]) %>> Price Highest to lowest </a></li>
                <li><a href= <%= bikes_path(sort: "price", :direction => "asc",body: params[:body]) %>>Price Lowest to Highest</a></li>
                <li>
                    <b>Type:</b>
                    <ul class = "type">
                        
                        <% @types.each do |type| %>
                            <li> <%= link_to type + " ("+@bikes.where(type: type).count.to_s+")", bikes_path(sort: params[:sort], :direction => params[:direction], body: params[:body], make: params[:make], model: params[:model], color: params[:color], type: type )%> 
                            </li>
                         <% end %>
                    </ul>
                </li>
                <li>Body
                    <ul>
                        <li>
                            <a href= <%= bikes_path(sort: params[:sort], :direction => params[:direction], type: params[:type], body: "Sports") %>>Sports(<%=@bikes.where(body:"Sports").count%>)</a>
                        </li>
                    </ul>
                </li>
                <li>Make
                    <ul>
                        <% @makes.each do |make| %>
                            <li>
                                <%= link_to make, bikes_path(sort: params[:sort], :direction => params[:direction], body: params[:body], model: params[:model], color: params[:color],type: params[:type],make: make)%>(<%=@bikes.where(make: make).count%>)
                            </li>
                        <% end %>
                    </ul>
                </li>
                <li>Models
                    <ul>
                        <% @models.each do |model| %>
                            <li>
                                <%= link_to model, bikes_path(sort: params[:sort], :direction => params[:direction], body: params[:body], make: params[:make], color: params[:color],type: params[:type],model: model)%>(<%=@bikes.where(model: model).count%>)
                            </li>  
                        <% end %>
                    </ul>
                </li>
                <li>Colour
                    <ul>  
                        <% @colors.each do |color| %>
                            <li>
                                <%= link_to color, bikes_path(sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: color )%>(<%=@bikes.where(color: color).count%>)
                                
                            </li>
                        <% end %>
                    </ul>
                </li>

              </div><!--/.well -->
        </div><!--/span-->

<div class="span9">    
<div class = "bikes">
<div class = "header">
<%= pluralize(@bikes.count, 'Match')%>

</div>

<div class = "results">
    <div class = "scroll">

    <%=render "search_bikes"%>

</div>
<div class = "1"></div>
<% (2..@bikees.total_pages).each do |i|%> <!-- Creating empty div with respect to page number-->

   <div class = "<%= i%>"></div>
<%end%>

</div><!--div results -->




</div>

</div>
</div>
<script type="text/javascript">
var div =1
 $(window).scroll(function() { 
 
    if($(window).scrollTop() + $(window).height() == $(document).height()) {
       
        div=div+1
        <%if(params.has_key?(:type) or params.has_key?(:body) or params.has_key?(:make) or params.has_key?(:model) or params.has_key?(:color) or params.has_key?(:sort) or params.has_key?(:direction))%>
        var link= "<%= bikes_path(sort: params[:sort], :direction => params[:direction], type: params[:type],body: params[:body], make: params[:make], model: params[:model], color: params[:color] )%>"+'&amp;page='+ div.toString()+ ' div.scroll'
        <%else%>
        var link='/bikes?page='+ div.toString()+ ' div.scroll' 
        <%end%>
        $("div." +div.toString()).load(link, function() {
  console.log(link)
 
});

        
    }
});
</script>

<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
