<%- model_class = @bike.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class = "row">
  <div class = "span3">
    <%=render "current_selection"%>
  </div>

  <div class = "span6">
    <%= link_to "Previous", bike_path(@previous_bike, sort: params[:sort], :direction => params[:direction], body: params[:body], make: params[:make], model: params[:model], color: params[:color],type: params[:type]), class:"btn btn-primary" if @previous_bike!= @bike%>
    <%= link_to "Next", bike_path(@next_bike, sort: params[:sort], :direction => params[:direction], body: params[:body], make: params[:make], model: params[:model], color:params[:color],type: params[:type]), class:"btn btn-primary" if !@next_bike.nil?%>
  
    <div class = "picture">
      <%= image_tag "big2.png", id: "bike_picture" %>
    </div>
    <ul class = "image_list">

   <li><%= image_tag "test.png", id: "test" %></li>
  <li><%= image_tag "2test.png", id: "2test" %></li>
    </ul>
    
    <div class = "result">
    <div class = "bike_details">
      Bike Details
    </div>

      <table class= "table"><tr>

        <td>Bike:<td> 
          <td><%=@bike.model%></td>
        </tr>
        <tr>

        <td>Make:<td> 
          <td><%=@bike.make%></td>
        </tr>
        <tr>


        <td>Type:<td> 
          <td><%=@bike.type%></td>
        </tr>
        <tr>

        <td>Price:<td> 
          <td><%=@bike.price%></td>
        </tr>
        <tr>

        <td>Variant:<td> 
          <td><%=@bike.variant%></td>
        </tr>
        <tr>

        <td>Year:<td> 
          <td><%=@bike.year%></td>
        </tr>
        <tr>

      </table>
  </div>
  </div>

  <div class = "span3"></div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              bikes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bike_path(@bike), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bike_path(@bike),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
  
</div>
<script type="text/javascript">
$('li').hover(function() {

  console.log("test")
  var img;
  img= $(':first-child', this).attr("id");

  $.ajax({
                url: "<%=change_picture_bikes_path%>",
               
                
                data: {path: img },
                 success:"True",
             });
});

</script>