<%- model_class = @bike.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class = "row">
  <div class = "span3">

  </div>

  <div class = "span6">
    
    <div class = "result">
    <div class = "bike_details">
      Bike Details
    </div>

      <table class= "table"><tr>

        <td>Bike:<td> 
          <td><%=@bike.model%></td>
        </tr>
        <tr>

        <td>Make:<td> 
          <td><%=@bike.make%></td>
        </tr>
        <tr>


        <td>Type:<td> 
          <td><%=@bike.type%></td>
        </tr>
        <tr>

        <td>Price:<td> 
          <td><%=@bike.price%></td>
        </tr>
        <tr>

        <td>Variant:<td> 
          <td><%=@bike.variant%></td>
        </tr>
        <tr>

        <td>Year:<td> 
          <td><%=@bike.year%></td>
        </tr>
        <tr>

      </table>
  </div>
  </div>

  <div class = "span3"></div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              bikes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bike_path(@bike), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bike_path(@bike),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
