<!--Indentation Complete-->
<div class="search_bike_table">
  <% @bikees.each do |bike| %>
    <div class= "search_result_div">
      <a href="<%= bike_spec_path(bike, sort: params[:sort], :direction => params[:direction], body: params[:body], make: params[:make], model: params[:model], color: nil,type: params[:type] ) %>" title ="Bike Showroom <%=bike.year.to_s+" "+bike.make+" "+bike.model%>">
        <div class="row">
          <div class= "span5"> 
            <% if bike.pictures.empty?%>
            <%=image_tag "default_image.jpg"%>
            <%else%>
            <%= image_tag bike.pictures.last.file.url(:original), alt: bike.year.to_s+" "+bike.make+" "+bike.model+" "+bike.variant, title: bike.year.to_s+" "+bike.make+" "+bike.model+" "+bike.variant, class: "bike_picture" %>
            <%end%>
          </div> <!-- span5 Image of the searched bike --> 
          <div class= "span7">
            <div class = "result_table">
              <div class = "result_header">
                <div class = "listing_title">
                  <%= bike.year %>  <%= bike.make %>  <%= bike.model %>  <%= bike.variant %>
                </div>
                <div class = "legen"><%= number_to_currency(bike.price,:unit => "Rs ",:precision => 0)%>
                </div>
              </div>
              <div class = "result_specs">
                <ul>
                  <li>
                    Body: <%=bike.body%>  
                  </li>
                  <li>
                    Top Speed: <%=bike.top_speed%> km/h
                  </li>
                  <li>
                    Engine Displacement: <%=bike.displacement%> cc
                  </li>
                  <li>
                    Max Power: <%=bike.max_power%> 
                  </li>
                  <li>
                    Max Torque: <%=bike.max_torque%>
                  </li>   
                  <li>
                    Mileage (City): <%=bike.fuel_consumption_city%> km/L
                  </li>
                  <li>
                    Mileage (Highway): <%=bike.fuel_consumption_highway%> km/L
                  </li>                                
                </ul> 
                <div class = "view_bike_link">
                  <div  class = 'btn btn-inverse'> View bike 
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- span7 Summary of the searched bike --> 
        </div>
      </a>
    </div>  
  <%end%>
</div>