<!--Indentation Complete-->
<div class= "showroom_header">New Bike Showroom</div>
  <div class= "showroom_search">
      <%=form_tag(search_bike_specs_path, :method => "get") do %>
      <legen>Search Bikes</legen>
        <div class = "row">
          <div class= "span3">
            <div  class="input-prepend">
              <span class="add-on">Make: </span>
              <%= select_tag "make", options_for_select(@makes), :prompt => "Any Make", :class=>"input-drop-down" %>
            </div>
          </div>
          <div class= "span3">
            <div  class="input-prepend">
              <span class="add-on">Model: </span>     
              <%= select_tag "model", options_for_select(@models), :prompt => "Any Model", :class=>"input-drop-down" %>
            </div>
          </div>
          <div class= "span3">
            <div  class="input-prepend">
              <span class="add-on">Body: </span>     
              <%= select_tag :body, options_for_select(['Any Type',"Cruiser", "Scooter", "Sports", "Super Sport", "Standard", "Trail"]),:class=>"input-drop-down" %>
            </div>
          </div>
          <div class= "span3">
            <input class="btn btn-primary" name="commit" type="submit" value="Search" >
          </div>
        </div>
      <%end%>
  </div>

<div class = "row">
  <div class = "span4 showroom_browse">
    <legen>Browse by body type</legen>
    <table class= "browse_body_type">
      <tr>
        <td><a href = '<%=bike_specs_path(body: "Cruiser")%>'><div class= "image_border"><%=image_tag "cruiser.jpg", size: "133x120"%>Cruiser</div></a></td>
        <td><a href = '<%=bike_specs_path(body: "Scooter")%>'><div class= "image_border"><%= image_tag "scooters.jpg", size: "133x120"%>Scooter</div></a></td>
      </tr>
      <tr>
        <td><a href = '<%=bike_specs_path(body: "Sports")%>'><div class= "image_border"><%= image_tag "sport.jpg", size: "133x120"%>Sport</div></a></td>
        <td><a href = "<%=bike_specs_path(body: 'Super Sport')%>"><div class= "image_border"><%= image_tag "supersport.jpg", size: "133x120"%>Super Sport</div></a></td>
      </tr>
      <tr>
        <td><a href = "<%=bike_specs_path(body: 'Standard')%>"><div class= "image_border"><%= image_tag "standard.jpg", size: "133x120"%>Standard</div></a></td>
        <td><a href = '<%=bike_specs_path(body: "Trail")%>'><div class= "image_border"><%= image_tag "trail.jpg", size: "133x120"%>Trail</div></a></td>
      </tr> 
    </table> 
  </div>
  <div class = "span4 showroom_browse">
    <legen>Browse By: Top Makers</legen>
      <table class= "browse_maker">
        <tr>
          <td><a href = '<%=bike_specs_path(make: "Bajaj")%>'><div class= "image_border"><%=image_tag "bajaj.jpg", size: "67x62"%></div></a></td>
          <td><a href = '<%=bike_specs_path(make: "Daelim")%>'><div class= "image_border"><%= image_tag "daelim.jpg", size: "67x62"%></div></a></td>
          <td><a href = '<%=bike_specs_path(make: "Hero Honda")%>'><div class= "image_border"><%= image_tag "hero-honda.jpg", size: "67x62"%></div></a></td>
          <td><a href = "<%=bike_specs_path(make: 'Honda')%>"><div class= "image_border"><%= image_tag "honda.jpg", size: "67x62"%></div></a></td>
        </tr>
        <tr>
          <td><a href = "<%=bike_specs_path(make: 'Hyosung')%>"><div class= "image_border"><%= image_tag "hyosung.jpg", size: "67x62"%></div></a></td>
          <td><a href = "<%=bike_specs_path(make: 'Royal Enfield')%>"><div class= "image_border"><%= image_tag "royal-enfield.jpg", size: "67x62"%></div></a></td>
          <td><a href = '<%=bike_specs_path(make: "Suzuki")%>'><div class= "image_border"><%= image_tag "suzuki.jpg", size: "67x62"%></div></a></td>
          <td><a href = '<%=bike_specs_path(make: "TVS")%>'><div class= "image_border"><%= image_tag "tvs.jpg", size: "67x62"%></div></a></td>
        </tr>
        <tr>
          <td><a href = '<%=bike_specs_path(make: "Yamaha")%>'><div class= "image_border"><%= image_tag "yamaha.jpg", size: "67x62"%></div></a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr> 
      </table>  
    </div>
    <div class = "span4">
      <div class=  "latest_bikes">
      <legen>Latest Bikes</legen>
        <table class= "browse_maker">
          <tr>
            <%@latest_bike.each do |bike|%>
            <td>
              <table>
                <tr>
                  <td>
                    <% if !bike.pictures.last.nil?%>
                    <a href = '<%=bike_spec_path(bike)%>'><div class= "image_border"><%=image_tag bike.pictures.last.file.url(:original), size: "85x100"%></div></a>
                    <%else%>
                    <a href = '<%=bike_spec_path(bike)%>'><div class= "image_border"><%=image_tag "default_image.jpg", size: "85x100"%></div></a>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <td><a href = '<%=bike_spec_path(bike)%>'><%= bike.year %>  <%= bike.make %>  <%= bike.model %>  <%= bike.variant if !bike.variant.nil? %></a></td>
                </tr>
              </table>
            </td>
            <%end%>      
          </tr> 
        </table>  
      <div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-width="292" data-show-faces="true" data-stream="false" data-show-border="true" data-header="true">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('select#make').change(function() 
  {
    $("select#make option:selected").each(function () 
    {
      str = $(this).text();
    });
    if (str== "Any Make")
    {
      $("select#model").empty();
      var option_model = $('<option></option>').attr("value", "").text("Any Model");
      $("select#model").append(option_model);
      <%@models.each do |model|%>
      var option = $('<option></option>').attr("value", "<%=model%>").text("<%=model%>");
      $("select#model").append(option);
       $('select#body').removeAttr('disabled');
      <%end%>
    }
    else
    {
      $("select#model").empty();
      var option_model = $('<option></option>').attr("value", "").text("Any Model");
      $("select#model").append(option_model);
      $.ajax(
      {
        url: "<%=change_model_bike_specs_path%>",
        data: {make:str },
        success:console.log("test"),
      });
    };
  });
  $('select#model').change(function() 
  {
    $("select#model option:selected").each(function () 
    {
      str = $(this).text();
    });
    if (str== "Any Model")
    {
      $('select#body').removeAttr('disabled');
    }
    else
    {
      $('select#body').attr('disabled', 'disabled')
    }
  });
</script>